@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <p> This is the solution to the Birdnest assignment.
        It displays table with all relevant data, plots the set amount of results below.
        Data is saved for 10min but app is not running constantly so there will be no results initially</p>
</div>
<div class="align-content-center">
    <button type="button" class="btn btn-info" onclick="clearInterval(timerId)">Stop updating</button>
    <button type="button" class="btn btn-info" onclick="timerId = setInterval(() => getItems(), 2000)">Resume</button>
</div>
<table class="table table-dark align-content-center" id="dataTable"></table>
<div>
    <input type="number" id="amount" value=10 />
    <button type="button" class="btn btn-info" onclick="getAmount()">Set display amount to set value </button>
</div>

<canvas id="coordinatePlot" style="border:1px solid black"></canvas>

<script src="/js/GetData.js" type="text/javascript"></script>
<script type="text/javascript">
    window.addEventListener("load", (event) => {
        console.log("page is fully loaded");
    });
</script>